<html lang="en">
<head>
    <title>AdGuardHome sync</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    {{- if .DarkMode }}
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css"
          crossorigin="anonymous">
    {{- else }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossOrigin="anonymous">
    {{- end }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#showLogs").click(function () {
                $.get("api/v1/logs", {}, function (data) {
                        $('#logs').html(data);
                    }
                );
                $.get("api/v1/status", {}, function (status) {
                        $('#origin').removeClass(function (index, className) {
                            return (className.match(/(^|\s)btn-\S+/g) || []).join(' ');
                        }).addClass("btn-" + status.origin.status).attr('title', status.origin.error);
                        status.replicas.forEach(function (replica, i) {
                            $('#replica_' + i).removeClass(function (index, className) {
                                return (className.match(/(^|\s)btn-\S+/g) || []).join(' ');
                            }).addClass("btn-" + replica.status).attr('title', replica.error);
                        });
                    }
                );
            });
            $("#clearLogs").click(function () {
                $.post("api/v1/clear-logs", {}, function () {
                        $('#logs').html("");
                    }
                );
            });
            $("#sync").click(function () {
                $.post("api/v1/sync", {}, function (data) {
                });
                $("#showLogs").click();
            });
            $("#showLogs").click();
        });
    </script>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div class="container-fluid px-4">
    <div class="row">
        <p class="h1">
            AdGuardHome sync
        <p class="h6">{{ .Version }} ({{ .Build }})</p>
        </p>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" id="sync">Synchronize</button>
                <button type="button" class="btn btn-secondary" id="showLogs">Update Logs</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" id="clearLogs">Clear Logs</a>
                </div>

            </div>
        </div>
        <div class="col col-md-auto">
            <div class="btn-group float-right" role="group">
                <a href="{{ .SyncStatus.Origin.URL }}" target="_blank" class="btn btn-{{ .SyncStatus.Origin.Status }}"
                   type="button" id="origin"
                   {{ if .SyncStatus.Origin.Error }} title="{{ .SyncStatus.Origin.Error }}" {{ end }}>Origin {{ .SyncStatus.Origin.Host }}</a>
                {{ range $i, $r := .SyncStatus.Replicas }}
                <a href="{{ $r.URL }}" target="_blank" class="btn btn-{{ $r.Status }}"
                   type="button" id="replica_{{ $i }}"
                   {{ if $r.Error }} title="{{ $r.Error }}" {{ end }} >Replica {{ $r.Host }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="row  mt-3">
        <div class="col-12">
            <pre class="p-3 border"><code id="logs"></code></pre>
        </div>
    </div>
</div>
</body>
</html>
