name: docker-image

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  scratch:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date --utc +%Y-%m-%dT%H:%M:%SZ)"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Quay
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Login to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{github.event.release.tag_name }}
        id: docker_build_release
        uses: docker/build-push-action@v2
        if: ${{ github.event.release.tag_name != '' }}
        with:
          pull: true
          push: true
          tags: quay.io/bakito/adguardhome-sync:latest,quay.io/bakito/adguardhome-sync:${{ github.event.release.tag_name }},ghcr.io/bakito/adguardhome-sync:latest,ghcr.io/bakito/adguardhome-sync:${{ github.event.release.tag_name }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
            BUILD=${{ steps.date.outputs.date }}

      - name: Build and push main
        id: docker_build_main
        uses: docker/build-push-action@v2
        if: ${{ github.event.release.tag_name == '' }}
        with:
          pull: true
          push: true
          tags: quay.io/bakito/adguardhome-sync:main,ghcr.io/bakito/adguardhome-sync:main
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            VERSION=main
            BUILD=${{ steps.date.outputs.date }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  alpine:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date --utc +%Y-%m-%dT%H:%M:%SZ)"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Quay
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Login to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{github.event.release.tag_name }} alpine
        id: docker_build_alpine_release
        uses: docker/build-push-action@v2
        if: ${{ github.event.release.tag_name != '' }}
        with:
          pull: true
          push: true
          tags: quay.io/bakito/adguardhome-sync:alpine-latest,quay.io/bakito/adguardhome-sync:alpine-${{ github.event.release.tag_name }},ghcr.io/bakito/adguardhome-sync:alpine-latest,ghcr.io/bakito/adguardhome-sync:alpine-${{ github.event.release.tag_name }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          file: Dockerfile.alpine
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
            BUILD=${{ steps.date.outputs.date }}

      - name: Build and push main alpine
        id: docker_build_alpine_main
        uses: docker/build-push-action@v2
        if: ${{ github.event.release.tag_name == '' }}
        with:
          pull: true
          push: true
          tags: quay.io/bakito/adguardhome-sync:alpine-main,ghcr.io/bakito/adguardhome-sync:alpine-main
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          file: Dockerfile.alpine
          build-args: |
            VERSION=main
            BUILD=${{ steps.date.outputs.date }}

      - name: Image digest alpine
        run: echo ${{ steps.docker_build.outputs.digest }}
